@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Roboto";
}

.movies-container {
  padding: 1rem;
  background: #ffffff;
  max-width: 600px;
  margin: auto;
}

.movie-container {
  height: 128px;
  overflow: hidden;
  margin: 0px 0px 16px 0px;
  display: flex;
  flex-wrap: wrap;
}

.movie-container.expanded {
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.movie-container:hover {
  box-shadow: 0px 0px 10px grey;
}

.movie-poster-container {
  width: 152px;
  height: 128px;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
}

.movie-info-container {
  padding: 0.5rem 1rem;
}

.movie-info-container > span {
  padding-top: 8px;
  display: block;
}

.movie-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.movie-genre {
  font-size: 1rem;
  line-height: 1rem;
  color: grey;
}

.movie-director {
  display: inline-block;
  line-height: 1rem;
}

.movie-description-container {
  display: block;
  margin: 16px 0px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btn-primary {
  background-color: #1b54a8;
  color: white;
  padding: 12px 31px;
  border-radius: 10px;
  border: none;
}

.add-to-favorite {
  margin-top: 16px;
  display: block;
}

.success-message {
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
  background-color: green;
  opacity: 80%;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  color: white;
  width: 600px;
  border-radius: 5px;
}

.success-message > i {
  padding: 0px 20px;
}
